<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
  </head>

  <body>
    <h1>{{ title }}</h1>
    <div id="comment"></div>
  </body>

  <script type="text/javascript" src="/app/main.js"></script>



</html>